<a href="https://colab.research.google.com/github/Dhananjay0705/Vendor-Performance-Data-Analytics/blob/main/Exploratory__Data__Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EXPLORATORY DATA ANALYSIS**
Understanding the dataset to explore how the data is present in the database and if there is a need of creating some aggregated tables that can help with :

1) Vendor selection for profitablity
2) Product Pricing Optimization

In [1]:
import pandas as pd
import sqlite3

In [3]:
# Checking database connection
conn= sqlite3.connect('inventory.db')

In [5]:
# Checking tables present in the database
tables= pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

Empty DataFrame
Columns: [name]
Index: []

In [7]:
tables

Empty DataFrame
Columns: [name]
Index: []

In [8]:
pd.read_sql("select count(*) from purchases",conn)

DatabaseError: Execution failed on sql 'select count(*) from purchases': no such table: purchases